@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --theme__font: 'Barlow', sans-serif;
    --theme__headline__font: 'Fraunces', serif;
    --font-size: 18px;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --blue: hsl(199.9deg 100% 62.16%);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: var(--theme__font);
    font-size: var(--font-size);
}

html, body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

#theme__sunnyside {
    header {
        background-color: var(--blue);
        .navbar {
            #navbarSupportedContent {
                .navbar-nav {
                    gap: 30px;
                    .nav-item {
                        .nav-link {
                            color: var(--white);
                            padding: 10px 20px;
                            font-size: 20px;
                            &:hover {
                                color: var(--black);
                                background-color: var(--white);
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
        }
        #header__creatives {
            position: relative;
            display: flex;
            justify-content: center;
            .title {
                position: absolute;
                span {
                    font-family: var(--theme__headline__font);
                    font-size: 50px;
                    text-align: center;
                    color: var(--white);
                    text-transform: uppercase;
                    letter-spacing: 10px;
                }
            }
            .image {

            }
        }
    }
    main {
        #main__transform {
            display: flex;
            align-items: center;
            .content {
                flex-basis: 50%;
                padding: 10rem;
                span {
                    color: var(--black);
                    font-family: var(--theme__headline__font);
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 1.2;
                }
                p {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 20px;
                    color: var(--dark-grayish-blue);
                    font-weight: 100;
                }
                a {
                    text-transform: uppercase;
                    color: var(--black);
                    font-weight: bold;
                    font-family: var(--theme__headline__font);
                    border-bottom: solid 4px var(--yellow);
                    text-decoration: none;
                }
            }
            .image {
                flex-basis: 50%;
            }
        }
        #main__stand {
            display: flex;
            align-items: center;
            .content {
                flex-basis: 50%;
                padding: 10rem;
                span {
                    color: var(--black);
                    font-family: var(--theme__headline__font);
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 1.2;
                }
                p {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 20px;
                    color: var(--dark-grayish-blue);
                    font-weight: 100;
                }
                a {
                    text-transform: uppercase;
                    color: var(--black);
                    font-weight: bold;
                    font-family: var(--theme__headline__font);
                    border-bottom: solid 4px var(--yellow);
                    text-decoration: none;
                }
            }
            .image {
                flex-basis: 50%;
            }
        }
        #main__design {
            display: flex;
            align-items: center;
            .content {
                flex-basis: 50%;
                .extent {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    .headline {
                        position: absolute;
                        padding: 6rem 16rem;
                        text-align: center;
                        span {
                            font-family: var(--theme__headline__font);
                            font-weight: bold;
                            font-size: 30px;
                            color: var(--black);
                        }
                        p {
                            margin-top: 20px;
                            color: var(--very-dark-grayish-blue);
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}