@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --theme__font__one: 'Barlow', sans-serif;
    --theme__font__two: 'Fraunces', serif;
    --font-size: 18px;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --blue: hsl(199.9deg 100% 62.16%);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: var(--theme__font__one);
    font-size: var(--font-size);
}

html, body {
    margin: 0;
    padding: 0;
}

#theme__sunnyside {
    header {
        background-color: var(--blue);
    }
}