@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
:root {
  --theme__font: "Barlow", sans-serif;
  --theme__headline__font: "Fraunces", serif;
  --font-size: 18px;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --blue: hsl(199.9deg 100% 62.16%);
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--theme__font);
  font-size: var(--font-size);
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

#theme__sunnyside header {
  background-color: var(--blue);
  background-image: url(/assets/img/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#theme__sunnyside header .navbar #navbarSupportedContent .navbar-nav {
  gap: 30px;
}
#theme__sunnyside header .navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: var(--white);
  padding: 10px 20px;
  font-size: 20px;
}
#theme__sunnyside header .navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  color: var(--black);
  background-color: var(--white);
  border-radius: 30px;
}
#theme__sunnyside header #header__creatives {
  position: relative;
  display: flex;
  justify-content: center;
}
#theme__sunnyside header #header__creatives .title {
  position: absolute;
  margin-top: 80px;
}
#theme__sunnyside header #header__creatives .title span {
  font-family: var(--theme__headline__font);
  font-size: 50px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
#theme__sunnyside header #header__creatives .title span::after {
  content: url(/assets/img/icon-arrow-down.svg);
}
#theme__sunnyside main #main__transform {
  display: flex;
  align-items: center;
}
#theme__sunnyside main #main__transform .content {
  flex-basis: 50%;
  padding: 10rem;
}
#theme__sunnyside main #main__transform .content span {
  color: var(--black);
  font-family: var(--theme__headline__font);
  font-weight: bold;
  font-size: 60px;
  line-height: 1.2;
}
#theme__sunnyside main #main__transform .content p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--dark-grayish-blue);
  font-weight: 100;
}
#theme__sunnyside main #main__transform .content a {
  text-transform: uppercase;
  color: var(--black);
  font-weight: bold;
  font-family: var(--theme__headline__font);
  border-bottom: solid 4px var(--yellow);
  text-decoration: none;
}
#theme__sunnyside main #main__transform .content a:hover {
  border-color: var(--soft-red);
}
#theme__sunnyside main #main__transform .image {
  flex-basis: 50%;
}
#theme__sunnyside main #main__stand {
  display: flex;
  align-items: center;
}
#theme__sunnyside main #main__stand .content {
  flex-basis: 50%;
  padding: 10rem;
}
#theme__sunnyside main #main__stand .content span {
  color: var(--black);
  font-family: var(--theme__headline__font);
  font-weight: bold;
  font-size: 60px;
  line-height: 1.2;
}
#theme__sunnyside main #main__stand .content p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--dark-grayish-blue);
  font-weight: 100;
}
#theme__sunnyside main #main__stand .content a {
  text-transform: uppercase;
  color: var(--black);
  font-weight: bold;
  font-family: var(--theme__headline__font);
  border-bottom: solid 4px var(--yellow);
  text-decoration: none;
}
#theme__sunnyside main #main__stand .content a:hover {
  border-color: var(--soft-red);
}
#theme__sunnyside main #main__stand .image {
  flex-basis: 50%;
}
#theme__sunnyside main #main__design {
  display: flex;
  align-items: center;
}
#theme__sunnyside main #main__design .content {
  flex-basis: 50%;
}
#theme__sunnyside main #main__design .content .extent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#theme__sunnyside main #main__design .content .extent .headline {
  position: absolute;
  padding: 6rem 16rem;
  text-align: center;
}
#theme__sunnyside main #main__design .content .extent .headline span {
  font-family: var(--theme__headline__font);
  font-weight: bold;
  font-size: 30px;
  color: var(--black);
}
#theme__sunnyside main #main__design .content .extent .headline p {
  margin-top: 20px;
  color: var(--very-dark-grayish-blue);
  font-size: 20px;
}
#theme__sunnyside main #main__client {
  margin-top: 90px;
  margin-bottom: 90px;
}
#theme__sunnyside main #main__client .headline {
  text-align: center;
}
#theme__sunnyside main #main__client .headline span {
  font-family: var(--theme__headline__font);
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  letter-spacing: 8px;
}
#theme__sunnyside main #main__client .content {
  margin-top: 60px;
}
#theme__sunnyside main #main__client .content .swiper-slide .image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
#theme__sunnyside main #main__client .content .swiper-slide .image img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
#theme__sunnyside main #main__client .content .swiper-slide .text {
  font-size: 16px;
  text-align: center;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 40px;
}
#theme__sunnyside main #main__client .content .swiper-slide .personal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
#theme__sunnyside main #main__client .content .swiper-slide .personal .name {
  font-family: var(--theme__headline__font);
  font-weight: bold;
}
#theme__sunnyside main #main__client .content .swiper-slide .personal .job {
  color: var(--grayish-blue);
  font-size: 14px;
}
#theme__sunnyside main #main__images {
  display: flex;
  align-items: center;
}
#theme__sunnyside footer {
  background-color: var(--dark-moderate-cyan);
  padding-top: 80px;
  padding-bottom: 80px;
}
#theme__sunnyside footer .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#theme__sunnyside footer .footer__logo img {
  width: 250px;
}
#theme__sunnyside footer .footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 50px;
}
#theme__sunnyside footer .footer__menu a {
  color: var(--dark-desaturated-cyan);
  font-size: 18px;
  text-decoration: none;
}
#theme__sunnyside footer .footer__menu a:hover {
  color: var(--white);
}
#theme__sunnyside footer .footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#theme__sunnyside footer .footer__social i {
  color: var(--dark-desaturated-cyan);
}
#theme__sunnyside footer .footer__social i:hover {
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 576px) {
  #theme__sunnyside header {
    background-image: url(/assets/img/mobile/image-header.jpg);
    height: 100%;
    min-height: 55vh;
  }
  #theme__sunnyside header .navbar {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #theme__sunnyside header .navbar #navbarSupportedContent .navbar-nav {
    gap: 30px;
  }
  #theme__sunnyside header .navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link {
    color: var(--white);
    padding: 10px 20px;
    font-size: 20px;
  }
  #theme__sunnyside header .navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
    color: var(--black);
    background-color: var(--white);
    border-radius: 30px;
  }
  #theme__sunnyside header #header__creatives .title {
    margin-top: 50px;
  }
  #theme__sunnyside header #header__creatives .title span {
    font-size: 40px;
  }
  #theme__sunnyside main #main__transform {
    flex-direction: column-reverse;
  }
  #theme__sunnyside main #main__transform .content {
    padding: 5rem 2rem;
    text-align: center;
  }
  #theme__sunnyside main #main__transform .content span {
    font-size: 40px;
  }
  #theme__sunnyside main #main__stand {
    flex-direction: column;
  }
  #theme__sunnyside main #main__stand .content {
    padding: 5rem 2rem;
    text-align: center;
  }
  #theme__sunnyside main #main__stand .content span {
    font-size: 40px;
  }
  #theme__sunnyside main #main__design {
    flex-direction: column;
  }
  #theme__sunnyside main #main__design .content .extent .headline {
    padding: 2rem;
  }
  #theme__sunnyside main #main__client {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #theme__sunnyside main #main__images {
    flex-wrap: wrap;
  }
  #theme__sunnyside main #main__images div {
    flex-basis: 50%;
  }
  #theme__sunnyside footer .footer__logo img {
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */